<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="components/version/ng-map.min.js"></script>

    <style>
        #map {
        height:420px;
        width:600px;
        }
        .infoWindowContent {
        font-size:  14px !important;
        border-top: 1px solid #ccc;
        padding-top: 10px;
        }
        h2 {
        margin-bottom:0;
        margin-top: 0;
        }
    </style>

</head>

<body>

<div ng-app="myApp" ng-controller="positionController">


    <div style="float: left; width: 500px" id="map"></div>
<div style="float:left">
    <input type="button" ng-click="actualizar()" value="Actualizar" />
    <input ng-model="searchText">

    <ul>
        <li ng-repeat="posicion in posiciones | filter:searchText">
            <p> ID: {{ posicion.UnitId }}</p>
            <p> Nombre: {{ posicion.UnitName }}</p>
            <p> Latitud: {{ posicion.Latitude }}</p>
            <p> Longitud: {{ posicion.Longitude }}</p>
        </li>
    </ul>
</div>
</div>

<script>

    'use strict';
    angular.module('myApp', []);

    function positionController($scope,$http) {

        var inicializar = function(lat, long){
            var mapOptions = {
                zoom: 4,
                center: new google.maps.LatLng(lat, long),
                mapTypeId: google.maps.MapTypeId.TERRAIN
            };

            $scope.map = new google.maps.Map(document.getElementById('map'), mapOptions);
        };

        inicializar(41.071143, 73.87913200000003);

        $scope.openInfoWindow = function(e, selectedMarker){
            e.preventDefault();
            google.maps.event.trigger(selectedMarker, 'click');
        }

        $scope.actualizar = function(){
            $http.get('http://192.168.200.123:8888/')
            .success(function(response) {
                $scope.posiciones = response;

                $scope.markers = [];
                var infoWindow = new google.maps.InfoWindow();

                if (response.length > 0) {
                    var primero = response[0];
                    inicializar(primero.Latitude, primero.Longitude);
                    angular.forEach(response, function (value, key) {
                        var marker = new google.maps.Marker({
                            map: $scope.map,
                            position: new google.maps.LatLng(value.Latitude, value.Longitude),
                            title: value.UnitName
                        });
                        marker.content = '<div class="infoWindowContent">' + value.UnitName + '</div>';

                        google.maps.event.addListener(marker, 'click', function () {
                            infoWindow.setContent('<h2>' + marker.title + '</h2>' + marker.content);
                            infoWindow.open($scope.map, marker);
                        });

                        $scope.markers.push(marker);
                    });
                }

            });
        }
    }

</script>

</body>
</html>